<div class="center w-90 w-90-l mw-100-m w-90-ns">
  <h1 *ngIf="!selectedFilm" class="center yellow">All Characters with pagination</h1>
  <h1 *ngIf="selectedFilm" class="center yellow">Characters from Film: {{ selectedFilm.title }}</h1>
  <mat-card class="mat-card mb3 mr3">
    <mat-form-field class="w-100" appearance="standard">
      <mat-label>Filter</mat-label>
      <input [(ngModel)]="filterValue" matInput placeholder="Enter name, eye color, gender, film names...">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </mat-card>
</div>

<span *ngIf="!loading">
  <div class="w-100 justify-center" fxLayout="row wrap" fxLayoutGap="16px grid">
    <div *ngFor="let char of filter(characters)" fxFlex="30%" fxFlex.sm="30%" fxFlex.xs="90%">
      <mat-card class="mat-elevation-z4 medium-card">
        <mat-card-header>
          <div mat-card-avatar class="header-image"></div>
          <mat-card-title>{{ char.name }}</mat-card-title>
          <mat-card-subtitle>{{ char.birth_year }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <div><b>Eye color:</b> {{ char.eye_color }}</div>
          <div><b>Gender:</b> {{ char.gender }}</div>
          <div><b>Films:</b></div>
          <ul>
            <li *ngFor="let film of char.films" class="pointer dark-blue hover-light-blue"
                (click)="showFilmOpening(film)">{{ film.title }}</li>
          </ul>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</span>

<div *ngIf="characters && length > 0" class="mt3 w-90 center">
  <mat-paginator [length]="length"
                 [pageSize]="pageSize"
                 [pageSizeOptions]="pageSizeOptions"
                 [showFirstLastButtons]="true"
                 [pageIndex]="pageIndex"
                 (page)="onPageChange($event)">
  </mat-paginator>
</div>
